extends nav.pug

block head 
  .container
    include ./nav-carrito.pug
    header
      div
      h1.title-menu Japanese
      div
    main
      .card-group
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/1-Sushi.jpg' alt='Sushi (8 uds.)')
          span.card-title Sushi (8 uds.)
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 7.00 &euro;
          br
          button.btn-add(value='Sushi (8 uds.) 7.00') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/2-Ramen.jpg' alt='Ramen')
          span.card-title Ramen
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 11.75 &euro;
          br
          button.btn-add(value='Ramen 11.75') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/3-Soba.png' alt='Soba')
          span.card-title Soba
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 12.00 &euro;
          br
          button.btn-add(value='Soba 12.00') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/4-Onigiri.jpg' alt='4-Onigiri')
          span.card-title Onigiri
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 8.35 &euro;
          br
          button.btn-add(value='Onigiri 8.35') A&ntilde;adir
      .card-group
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/5-Sopa Miso.jpg' alt='Sopa Miso')
          span.card-title Sopa Miso
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 11.80 &euro;
          br
          button.btn-add(value='Sopa Miso 11.80') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/6-Sashimi.jpg' alt='Sashimi')
          span.card-title Sashimi
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 9.30 &euro;
          br
          button.btn-add(value='Sashimi 9.30') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/7-Takoyaki.jpg' alt='Takoyaki')
          span.card-title Takoyaki
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 4.20 &euro;
          br
          button.btn-add(value='Takoyaki 4.20') A&ntilde;adir
        .card
          .img-container
            img.card-image(src='../images/Pagina 3/6-Japanese/8-Xiaolongbao.jpg' alt='Xiaolongbao (4 uds)')
          span.card-title Xiaolongbao (4 uds)
          select.btn-cantidad
            option(value='00' selected='' disabled='') cant.
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
          span.precio 6.00 &euro;
          br
          button.btn-add(value='Xiaolongbao (4 uds) 6.00') A&ntilde;adir
  // SCRIPTS
  script(src='../script/cargar.js')
