doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Carla&acute;s Food
  // Google Fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap' rel='stylesheet')
  // css
  link(rel='stylesheet' href='style/style.css')
.container
  header
    h1.brand.title-brand Carla&acute;s Food
  section.cards-container
    .cards-menu
      a#Entrantes.card.card-1(href='/entrantes')
        span Entrantes
      a#Bebidas.card.card-2(href='/bebidas')
        span Bebidas
      a#Postres.card.card-3(href='/postres')
        span Postres
      a#Pizzas.card.card-4(href='/pizzas')
        span Pizzas
      a#Burgers.card.card-5(href='/hamburguesas')
        span Burgers
      a#Japanese.card.card-6(href='japanese')
        span Japanese
      a#Mexican.card.card-7(href='/mexican')
        span Mexican
  footer
    h5.brand.footer-brand Carla&acute;s Food
    .contact
      strong#number-contact +34 617 945 332
      .info
        span Av. San Juan, 53
        br
        span 12110 - Alcora
        br
        span Castell&oacute;/Castell&oacute;n