nav.navbar
  a.brand(href="/") Carla&acute;s Food
  ul.menu
    li
      a(href='/entrantes') Entrantes
    li
      a(href='/bebidas') Bebidas
    li
      a(href='/postres') Postres
    li
      a(href='/Pizzas') Pizzas
    li
      a(href='/hamburguesas') Burgers
    li
      a(href='/japanese') Japanese
    li
      a(href='/mexican') Mexican
  .img-card
    a(href='/carrito')
      img#carrito-image(src='../images/Iconos/carrito.png' alt='shopping cart')