doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Carla&acute;s Food
    // Google Fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap' rel='stylesheet')
    //cdn scripts
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    // css
    link(rel='stylesheet' href='/style/style.css')
    link(rel='stylesheet' href='/style/carrito.css')
block head